@model School

<form asp-action="Index" asp-controller="Education" method="post">
    <label asp-for="Id"></label>
    <input type="text" asp-for="Id" />
    <br />
    <label asp-for="Ad"></label>
    <input type="text"asp-for="Ad" />
    <br />
    <label asp-for="Sehir"></label>
    <input type="text" asp-for="Sehir" />
    <input type="submit" value="Giriş" />
</form>