<form action ="/Home/Giris">
    <label>Email :</label>
    <input type="text" name="email" />@*Mail*@
    <br />
    <label>Şifre :</label>
    <input type="text" name="password" />@*Şifre*@
    <input type="submit" value="Giriş" />
</form>